@import url('http://fonts.cdnfonts.com/css/gotham');

.full-pg {
    height: 90vh;
    margin-left: 5vh;
    margin-top: 5vh;

}

.repo {
    position: absolute;
    top: 84%;
    left: 6%;
    height: 9vh;
    width: 9vh;
}

.repo:hover {
    transform: scale(1.25);
}

ul {
    list-style-type: none;
    margin:  0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 9.4%;
    right: 11%;
}

li {
    float: right;
    font-family: 'Gotham Light', sans-serif;		
}

li a {
    display:  block;
    color: white;
    text-align: center;
    padding:  14px 20px;
    text-decoration: none;
    color: black;
    font-size: 22px;
}

li a:hover {
    text-decoration: underline;
    background-color: #fffef2;
    font-size: 24px;
    border-radius: 64px;
    border-width: 3px;
    border-style: solid;
    border-color: wheat;
    text-align: center;
    padding: 13px;
}

body {
    background-color: turquoise;
}
