@import url('http://fonts.cdnfonts.com/css/gotham');

:root {
    --navyblue: #001333;
    --lightblue: #eff3ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
}

.site {
    position: absolute;
    left: 5%;
    top: 4%;
    height: 30px;
    width: 150px;
    font-size: 30px;    
    font-family: "Gotham Black", sans-serif;
    color: var(--navyblue);
}

.home-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 47%;   
    top: 4%; 
}

.home-img:hover {
    transform: scale(1.1);
}

.about-img:hover {
    transform: scale(1.1);
}

.logout-img:hover {
    transform: scale(1.1);
}

.about-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 53%;
    top: 4%;
}

.logout-img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%;
    top: 4%;
}

li {
    float: left;
    font-family: 'Gotham Light', sans-serif;
}

li a {
    display: block;   
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.toggle {
    font-size: 16px;
    font-family: "Gotham Light", sans-serif;
    background-color: var(--lightblue);
    color: var(--navyblue);
    border: 2px var(--navyblue) solid;
    border-radius: 15px;
    padding: 4px 12px;
    position: absolute;
    top: 5%;
    left: 75%;
}

.toggle:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.full-pg {   
    margin: 90px 30px 0 30px;
    border-radius: 24px;
}

.team {
    font-family: "Gotham Black", sans-serif;
    font-weight: 100;
    font-size: 40px;
    position: absolute;
    top: 15vh;
    left:37vw;
    color: var(--navyblue);
    padding: 12px;
}

.repo {
    position: absolute;
    left: 6%;
    top: 217%;
    height: 9vh;
    width: 9vh;
}

.repo:hover {
    transform: scale(1.25);
}

body {
    background-color: var(--lightblue);
}

.grid-container {
    display: grid;
    position: absolute;
    grid-gap: 45px;
    grid-template-columns: auto auto auto;
    padding: 20px;
    padding-top: 90px;
    top: 25%;
    left: 12%;
    overflow: hidden;		
}

.grid-container-a {
    display: grid;
    position: absolute;
    grid-gap: 45px;
    grid-template-columns: auto auto auto;
    padding-bottom: 20px;
    top: 90%;
    left: 26.25%;
    overflow: hidden;
}

.grid-item {
    padding: 20px;
    font-size: 24px;
    height: 38vh;
    width: 38vh;
    text-align: center;
    border: 4px var(--navyblue) solid;
    border-radius: 24px;
}


.my-pic {
    height: 45%;
    width: 45%;
    border-radius: 50%;
}

h4 {
    margin: 0px auto 10px auto;
    font-family: "Gotham Medium", sans-serif;
    color: var(--navyblue);
}

p {
    font-size: 24px;
    font-family: "Gotham Light", sans-serif;
    color: var(--navyblue);
}

.profiles {
    margin-bottom: 0;
    padding: 0;
}

.profiles span {
    display: inline-block;
    padding: 0;	
    margin: 5px;				
}

.git {
    height: 40px;
    width: 40px;
    border-radius: 24px;
    z-index: 20;
}

.git:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.linkin {
    height: 40px;
    width: 40px;
    border-radius: 12px;
}

.linkin:hover {
    transform: scale(1.05);
    cursor: pointer;		
}

.story {
    font-family: "Gotham Black", sans-serif;
    font-weight: 100;
    font-size: 40px;
    position: absolute;
    top: 140vh;
    left: 42vw;
    color: var(--navyblue);
    padding: 12px;
}

.story-1 {		
    position: absolute;		
    top: 160%;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 36px;
    text-align: justify;
    word-spacing: 5px;
    color: var(--navyblue);
}

.story-2 {		
    position: absolute;		
    top: 185%;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 36px;
    text-align: justify;
    word-spacing: 5px;
    color: var(--navyblue);
}

footer {
    font-size: 36px;
    font-family: "Gotham Black", sans-serif;
    position: absolute;
    top: 235%;
    left: 40%;
    color: var(--navyblue);
}
