@import url('http://fonts.cdnfonts.com/css/gotham');
	
.full-pg {
    
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    filter:invert(80%);
}

.team {
    font-family: "Gotham Light", sans-serif;
    font-size: 44px;
    position: absolute;
    top: 15vh;
    left: 63vh;
    color: #ff2400;
    padding: 12px;
    border: 3px;
    border-color: red;
    border-style: groove;
    border-radius: 16px;
    text-shadow: 4px 4px 5px #ff2300;
}

.repo {
    position: absolute;
    left: 6%;
    top: 217%;
    height: 9vh;
    width: 9vh;
    filter: invert(95%);
}

.repo:hover {
    transform: scale(1.25);
}

.menu-icon {
    position: absolute;
    right: 6.50%;
    top: 9%;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    filter: invert(95%);
}

.menu-icon:hover {
    transform: scale(1.20)
}

.logo {
    position: absolute;
    top: 7%;
    left: 8%;
    height: 10%;
    width: 10%;
}

.home {
    list-style-type: none;
    margin:  0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 7%;
    right: 11%;
}

li {
    float: right;
    font-family: 'Gotham Light', sans-serif;	        
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    
}

li a:hover {
    text-decoration: underline;
    background-color: #fffef2;
    font-size: 24px;
    border-radius: 64px;
    border-width: 3px;
    border-style: solid;
    border-color: wheat;
    text-align: center;
    padding: 13px;
    color: black;
}

body {
    background-color: turquoise;
}

.grid-container {
    display: grid;
    position: absolute;
    grid-gap: 45px;
    grid-template-columns: auto auto auto;
    padding: 20px;
    padding-top: 90px;
    top: 25%;
    left: 6%;
    overflow: hidden;		
}

.grid-container-a {
    display: grid;
    position: absolute;
    grid-gap: 45px;
    grid-template-columns: auto auto auto;
    padding: 20px;
    padding-top: 95px;
    top: 75%;
    left: 22%;
    overflow: hidden;
}

.grid-item {
    background-color: #b2ffff;
    border: 1px solid rgba(0,0,0,0.8);
    padding: 20px;
    font-size: 24px;
    height: 38vh;
    width: 38vh;
    text-align: center;
    border: 2px royalblue solid;
    border-radius: 24px;
}


.my-pic {
    height: 45%;
    width: 45%;
    border-radius: 50%;
}

h4 {
    margin: 0px auto 10px auto;
    font-family: "Gotham Medium", sans-serif;
}

p {
    font-size: 24px;
    font-family: "Gotham Light", sans-serif;
}

.profiles {
    margin-bottom: 0;
    padding: 0;
}

.profiles span {
    display: inline-block;
    padding: 0;	
    margin: 5px;				
}

.git {
    height: 40px;
    width: 40px;
    box-shadow: 4px 4px 5px lightgrey;
    border-radius: 24px;
}

.git:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.linkin {
    height: 40px;
    width: 40px;
    box-shadow: 4px 4px 5px lightgrey;
    border-radius: 12px;
}

.linkin:hover {
    transform: scale(1.05);
    cursor: pointer;		
}

h2 {
    font-family: "Gotham Light", sans-serif;
    font-size: 44px;
    position: absolute;
    top: 140vh;
    left: 69vh;
    color: #ff2400;
    padding: 12px;
    border: 3px;
    border-color: red;
    border-style: groove;
    border-radius: 16px;
    text-shadow: 4px 4px 5px #ff2300;
}

.story-1 {		
    position: absolute;		
    top: 160%;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 36px;
    text-align: justify;
    word-spacing: 5px;
    color: #fbfcfa;
}

.story-2 {		
    position: absolute;		
    top: 185%;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 36px;
    text-align: justify;
    word-spacing: 5px;
    color: #fbfcfa;
}

footer {
    font-size: 32px;
    font-family: "Gotham Bold", sans-serif;
    font-weight: 800;
    position: absolute;
    top: 235%;
    left: 42%;
    color: #f5fefd;
}
