@import url('http://fonts.cdnfonts.com/css/gotham');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
}

.site {
    position: absolute;
    left: 5%;
    top: 4.50%;
    height: 30px;
    width: 150px;
    font-size: 30px;    
    font-family: "Gotham Black", sans-serif;
    color: #001333;
}

.home-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 47%;   
    top: 4%; 
}

.home-img:hover {
    transform: scale(1.1);
}

.about-img:hover {
    transform: scale(1.1);
}

.logout-img:hover {
    transform: scale(1.1);
}

.about-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 53%;
    top: 4%;
}

.logout-img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%;
    top: 4%;
}

li {
    float: left;
    font-family: 'Gotham Light', sans-serif;
}

li a {
    display:  block;
    color: white;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

body {
    background: #EFF3FF;
    color: #1d1d26;    
    cursor: default;   
}

.compete-div{
    background-color: #001333;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 27.50%;
    margin-top: 9vw;
    margin-left: 1.50%;
    margin-bottom: 1.50%;
    border-radius: 24px;
}

.compete-pic {
    position: absolute;
    bottom: 0;
    margin-left: 7%;  
    margin-right: 3%;
    border-radius: 5px;

}

.compete-header {
    font-family: "Gotham Thick", sans-serif;
    color: #EFF3FF;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-top: 7%;
}

.compete-text-1 {
    font-size: 22px;
    font-family: "Gotham Light", sans-serif;
    color: #eff3ff;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

.compete-text-2 {
    font-size: 22px;
    font-family: "Gotham Light", sans-serif;
    color: #eff3ff;
    margin-left: 7%;
    margin-right: 7%;
    text-align: justify;
}

.stats {
    position: absolute;
    left: 41%;
    font-size: 32px;
    font-family: "Gotham Black", sans-serif;
    margin-top: 3.50%;
    color: #001333;
    
}

.stat-container {
    background-color: #001333;
    height: 20vh;
    width: 28%;
    position: absolute;
    left: 31%;
    top: 24%;   
    border-radius: 24px;

}

.stat-answer {
    font-size: 30px;
    font-family: 'Gotham Black', sans-serif;    
    padding: 12px;
    margin: 5% 1% 1% 10%;   
    display: flex;
    justify-content: space-between;
}

.stat-text {
    color: #eff3ff;
    font-family: "Gotham Black", sans-serif;
    font-weight: 100;
}

.stat-heading {
    font-size: 20px;
    font-family: 'Gotham Light', sans-serif;    
    padding: 6px;
    margin: 3% 2% 2% -2%;   
    display: flex;
    justify-content: space-around;
    color: #eff3ff;
}

.stat-heading-text {
    color: #eff3ff;
    justify-content: space-around;
    font-family: "Gotham Light", sans-serif;
}

.go-container {
    background-color: #F1884D;
    height: 48.40vh;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 125%;  
    border-radius: 24px;  
}

.go-text-header {
    font-size: 32px;
    font-family: "Gotham Black", sans-serif;
    text-align: center;
    color: #eff3ff;
    margin-top: 5%;
}

.go-text-1 {
    font-size: 23px;
    font-family: "Gotham Light", sans-serif;
    color: #eff3ff;
    margin: 12% 3% 0 10%;
    width: 80%;
    text-align: justify;
}

.go-text-2 {
    font-size: 23px;
    font-family: "Gotham Light", sans-serif;
    color: #eff3ff;
    margin: 12% 3% 0 10%;
    text-align: justify;
    width: 80%;    
}

.container {
    background-color: #001333;
    height: 80.50vh;  
    width: 130%;       
    position: absolute;
    top: -45%;
    right: -145%;   
    margin-right: 4%;
    font-size: 32px;
    font-family: "Gotham Light", sans-serif;
    border-radius: 24px;
    border-width: 3px;
    border-style: solid;
    border-color: #001333;
    padding: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {
    margin: 50px 25px 50px 25px;
    border-radius: 16px;
    padding: 13px;
    font-size: 22px;
    background-color: #eff3ff;
    font-family: 'Gotham Light', sans-serif;          
}

.card-text {
    margin: 5px 10px 5px 10px;
    color: #001333;
    text-align: center;
}

::-webkit-scrollbar {
    width: 0;
}

html {
    overflow-y: scroll;
}
