:root{
    --white: white;
    --black: black;
    --dark-blue: #001333; /* Reverse is #ffeccc */
    --orange: #f1884e;    /* Reverse is 0e77b1*/
    --orange2: #f1884e;
}

@font-face {
    font-family: GothThin ;
    src: url('/static/fonts/GothamThinRegular.otf');
}
@font-face {
    font-family: GothBlack;
    src: url('/static/fonts/GothamBlack.otf');
}

html{
    height: 100%;
    margin: 0;
}

body{
    size: 100% 100%;
    margin: 0 0;
    overflow-x: hidden;
    background-color: var(--white);
}


.mynav{
    margin: 2vh 0 0 0;
    background-color: transparent;
    width: 100%; height: 10vh;
}

    .CZ{
        position: relative; top: 25%; left: 3vw;
        font-size: 150%;
        color: var(--black);
        font-family: GothBlack;
    }

    .homelink{
        border-radius: 50%;
        height: 30px; width: 30px;
        position: relative; left: 35vw; top: 2vh;
        align-self: center;
    }
    .homebtn{
        border-radius: 50%;
        height: 30px; width: 30px;
        align-items: center;
        border: none;
        background-color: white;
        color: var(--white);
    }
        .homebtn:hover{
            cursor: pointer;
            background-color: #f1884e;
        }
    .modebtn{
        border-radius: 15px;
        border: 1px solid var(--black);
        background-color: var(--white);
        color: var(--black);
        padding: 2px 8px;
    }
        .modebtn:hover{
            cursor: pointer;
            text-decoration: underline;
        }
    .homebtn2{
        border-radius: 50%;
        height: 30px; width: 30px;
        align-items: center;
        border: none;
        background-color:white;
        position: relative; 
    }
        .homebtn2:hover{
            cursor: pointer;
            background-color: #f1884e;
        }

    .myimg{
        display: block;
        width: 90%;
        margin-left: auto; margin-right: auto;
        size: 150% 150%;
    }
.div0{
    font-family: GothThin;
    font-size: 150%;
    background-color: transparent;
    position: relative;
    text-align: center;
    padding: 2px 2px;
    color: var(--black);
}

.div1{
    font-family: GothThin;
    font-size: 125%;
    background-color: transparent;
    width: 17vw; height: 3vh;
    position: absolute; left: 15vw; top: 28vh;
    padding: 2px 2px;
    text-align: center;
    color: var(--black);
}

.div2{
    position: absolute; left: 2vw; bottom: 68.25vh;
    background-color: transparent;
    border: var(--black) 2px solid;
    border-radius: 25px;
    height: 15vh; width: 12vw;
    color: var(--black);
}


.div3{
    position: absolute; left: 2vw; top: 35vh;
    background-color: transparent;
    border: var(--black) 2px solid;
    border-radius: 25px;
    height: 61vh; width: 12vw;
    background-color: var(--orange);
    border: none;
    text-align: justify;
}

.div4{
    position: absolute; left: 15vw; top: 35vh; 
    border: var(--black) 1px solid;
    border-radius: 25px;
    height: 61vh; width: 25vw;
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: left;
    font-family: GothThin;
    line-height: 150%;
}
    .header1{
        position: relative; left: 5%; bottom: 3%;
        font-size: 200%;
        margin-top: 4.5%;
        height: 20%;
        line-height: 125%;
        font-family: GothBlack;
    }
    .header2{
        position: relative; left: 5%;
        font-size: 100%;
        color: var(--black);
        font-family: GothBlack;
        text-align: center;
    }
    .para1{
        position: relative; left: 9%;
        font-size: 90%;
        margin-right: 5%;
        color: var(--black);
    }
    .para2{
        position: relative; left: 3%;
        font-size: 90%;
        margin-right: 5%;
        color: var(--black);
        text-align: left;
        margin-bottom: 5vh;
        font-family: GothThin;
    }

    .paralnk{
        position: relative; left: 50%; bottom: 3%;
        text-decoration: none;
        color: var(--black);   
    }
        .paralnk:hover{
            text-decoration: underline;
        }
    .parabtn{
        border-radius: 25px; border: none;
        width: 35%;
        padding: 4px 4px;
        background-color: var(--white);
        color: var(--black);
    }
        .parabtn:hover{
            background-color: var(--black);
            color: var(--white);
            cursor: pointer;
            text-decoration: underline;
        }
.div5{
    position: absolute; left: 42vw; top: 35vh;
    border: 1px gray solid;
    border-radius: 25px;
    height: 61vh; width: 25vw;
    background-color: transparent;
    color: var(--black);
    text-align: left;
    font-family: GothThin;
    line-height: 150%;
}
    .parabtn2{
        border-radius: 25px; border: none;
        width: 35%;
        padding: 4px 4px;
        background-color: var(--orange);
        color: var(--black);
    }
        .parabtn2:hover{
            background-color: transparent;
            color: var(--black);
            text-decoration: underline;
            cursor: pointer;
        }

.div7{
    position: absolute; left: 69vw; top: 10vh; 
    background-color: transparent;
    width: 25vw; height: 30vh;
    border-radius: 30px;
    color: var(--black);
    font-family: GothThin;
}
    .circle{
        width: 60px; height: 60px;border-radius: 50%;
        position: relative;left: 40%; top: 5%;
        background-color: var(--white);
        align-items: center;
    }
        .profileimg{
            border-radius: 50%;
            display: block;
            margin-left: auto; margin-right: auto;
            width: 75%;
            position: relative; top:12.5%;
        }
    .myspan{
        margin-left: 10%; margin-right: 5%;
        position: relative; top: 30%; left: 10px;
        color: var(--black);
    }

.name{
    position: absolute; left: 61.5vw; top: 22vh;
    width: 40vw; height: 5vh;
    background-color: transparent;
    color: var(--black);
    text-align: center;
    font-family: GothThin;
}
   
.div7_5{
    position: absolute; top: 25vh; left: 68.5vw;
    font-family: GothThin;
    text-align: justify;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 26vw; height: 9vh;
}
   .myspan{
        position: relative; bottom: 20vh;
        text-align: center;
    }

.div8{
    text-align: center; left: 67vw; top: 40vh;
    color: var(--orange);
    position: absolute;
    width: 30vw; height: 54vh;
    background-color: transparent;
    border-radius: 30px ;
    font-family: GothThin;
    font-size: 125%;
    overflow-y: scroll;
    overflow-x: hidden;
}
    .div8::-webkit-scrollbar{
        width: 10px;
    }
    .div8::-webkit-scrollbar-track{
        background-color: var(--white);
        border:  2px var(--black) solid;
        border-radius: 5px;
    }
    .div8::-webkit-scrollbar-thumb{
        background-color: var(--orange2);
        border-radius: 5px;
        width: 60%
    }
        .div8::-webkit-scrollbar-thumb:hover{
            cursor: pointer;
        }
    
    .graphdiv{
        background-color: transparent;
        width: 88%; height: 63%; border-radius: 25px;
        position: relative; left: 10%;
        margin-top: 2%; 
        border: 2px solid gray;       
    }
    