@font-face {
    font-family: GothBlack;
    src: url(/static/fonts/GothamBlack.otf);
}

@font-face {
    font-family: GothThin ;
    src: url(/static/fonts/GothamThinRegular.otf);
}

body{
    size: 100%;
    margin: 0;
    background-color: #1d1d26 ;
    height: 100vh;
}

.mynav{
    background-color: transparent;
    margin: 0;
    padding: 0.75% 0.75%;
    height: 10vh;
    z-index: 100;
}

.navlogo{
    width: 60px; height: 60px; border-radius: 50%;
    position: sticky;
}

.logobtn{
    position: relative;
    width: 60px; height: 60px; border-radius: 50%;
}
    .logobtn:hover{
        cursor: pointer;
        opacity: 0.75;
    }

.lnk1{
    position: relative; left: 65%; bottom: 5vh;
    margin-right: 5%;
    color: white;
    font-family: GothThin;
    text-decoration: none;
    font-size: 125%;
}
    .lnk1:hover{
        text-decoration: underline;
        color: turquoise;
    }

.logobtn2{
    width: 40px; height: 40px; border-radius: 50%;
    position: relative; top: 2vh;
}
    .logobtn2:hover{
        opacity: 0.75;
    }

.div1{
    position: relative; left: 10vw; 
    width: 30vw; height: 35vh;
    background-color: #30d5c8;
    border-radius: 50px;
    text-align: center;
    font-family: GothThin;
}
    .div1:hover{
        width: 32vw; height: 37vh;
        font-size: 105%;
    }
.div2{
    position: relative; left: 60vw; bottom: 20vh;
    width: 30vw; height: 35vh;
    background-color: #30d5c8;
    border-radius: 50px;
    text-align: center;
    font-family: GothThin;
}
    .div2:hover{
        width: 32vw; height: 37vh;
        font-size: 105%;
    }
.div3{
    position: relative; left: 10vw; top:-25vh;
    width: 30vw; height: 35vh;
    background-color: #30d5c8;
    border-radius: 50px;
    text-align: center;
    font-family: GothThin;   
}
    .div3:hover{
        width: 32vw; height: 37vh;
        font-size: 105%;
    }
.div4{
    position: relative; left: 60vw; bottom: 40vh;
    width: 30vw; height: 35vh;
    background-color: #30d5c8;
    border-radius: 50px;
    text-align: center;
    font-family: GothThin; 
}
    .div4:hover{
        width: 32vw; height: 37vh;
        font-size: 105%;
    }
.header{
    text-align: center;
    font-family: GothBlack;
    font-size: 150%;
    color: #1d1d26;
    position: relative; top: 1vh;
}
.hdrtxt{
    font-family: GothThin;
    color: #1d1d26;
    padding-left: 2vw; padding-right: 2vw;
}

.hdrtxt2{
    font-family: GothThin;
    color: #1d1d26;
    align-self: left;
    position: relative; top: 15%; right: 25%;
}

.lnktxt{
    margin-bottom: 1vh;
    height: 10%;
    background-color: transparent;
    color: white;
    width: 100%;
    text-decoration: none;
    font-family: GothBlack;
    position: relative;
}
    .lnktxt:hover{
        color: #1d1d26;
        cursor: pointer;
        text-decoration: underline;
    }

.lnktxt2{
    margin-bottom: 5px;
    height: 10%;
    background-color: transparent;
    color: white;
    width: 100%;
    position: relative; top: 30%;
    text-decoration: none;
    font-family: GothBlack;
}
    .lnktxt2:hover{
        color: #1d1d26;
        cursor: pointer;
        text-decoration: underline;
    }

