@import url('http://fonts.cdnfonts.com/css/gotham');

.heading {
    font-size: 40px;
	padding: 15px;
    text-align: center;
    font-family: "Gotham Bold", sans-serif;
    color: #1d1d26;    
}

body {
    background-color: turquoise;
}

form {
    background-color: whitesmoke;
    height: 63.50vh;  
    width: 70%;    
    color: #1d1d26;
    font-size: 32px;
    font-family: "Gotham Light", sans-serif;
    text-align: center;
    padding-bottom: 8px;
    border-radius: 16px;
    border-width: 3px;
    border-style: solid;
    border-color: navy;
    position: fixed;
    top: 12vh;
    left: 10vh;
    right: 10vh;
    bottom: 10vh;
    margin: auto;
}

body {
	background-color: turquoise;
	margin: 0;
	padding: 16px;
}

.input-box {
	font-size: 18px;
	border: 0;
	padding-bottom: 12px;
	margin-bottom: 36px;
	border-bottom: 1px solid #ccc;
    border-radius: 16px;
	width: 70%;
}

.input-box:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.email-box {
    font-size: 18px;
	border: 0;
	padding-bottom: 12px;
	margin-bottom: 36px;
	border-bottom: 1px solid #ccc;
    border-radius: 16px;
	width: 70%;
    background-color: lightgrey;
}

.form-details {
    padding-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px; 
    font-size: 24px;
}

::placeholder {
    color: gray;
    font-size: 19px;
    font-family: "Gotham Light", sans-serif;
    padding-left: 8px;
}

:required {
    color: #1d1d26;
    padding-left: 8px;
    padding-top: 8px;
}

.btn-style {
	background: #1434a4;
	font-weight: 700;
    padding: 0;
	border-radius: 16px;
    font-size: 14px;
}

.btn-style span {
	display: block;
	background: #7df9ff;
	padding: 24px 36px;
	border: 1px solid #1d1d26;
	border-radius: 16px;
	transform: translate3d(-4.25px, -4.25px, 0);
	transition: transform 0.25s cubic-bezier(0.7, 0, 0.2, 1);
}

.btn-style:hover span {
	transform: translate3d(-8px, -8px, 0);
    cursor: pointer;
    color: #000080;
    text-decoration: underline;
}
