@font-face {
    font-family: GothBlack;
    src: url(static\fonts\GothamBlack.otf);
}

@font-face {
    font-family: GothThin ;
    src: url(static\fonts\GothamThinRegular.otf);
}

body{
    min-height: 100%;
    margin: 0%;
    background-color: #13A89E;
}

.div1{
    width: 25%; height: 100%;
    position: relative; top: 10vh; left: 10%; 
    background-color: #1d1d26;
    color: white;
    padding: 2% 2%;
    border-radius: 18px;    
}

.head{
    font-size: 350%;
    font-family: GothBlack;
    color: white;
}

.btn1{
    padding: 2% 4%;
    background-color: #13A89E;
    color: white;
    border-radius: 20px;
    border: 2px transparent solid;
    text-align: center;
    font-size: 125%;
}
    .btn1:hover{
        background-color: #1d1d26;
        border: 2px white solid;
        cursor: pointer;
        text-decoration: underline;
    }

.btn2{
    padding: 2% 4%;
    background-color: #1d1d26;
    color: white;
    border-radius: 20px;
    border: white;
    text-align: center;
    border: 2px white solid;
    margin-left: 10%;
    font-size: 125%;
    font-family: GothThin;
}
    .btn2:hover{
        background-color: #13A89E;
        border: 2px transparent solid;
        cursor: pointer;
        text-decoration: underline;
    }


.div2{
    position: relative; top: 15vh; right: vw;
    margin-left: 2%;
    align-items: center;
}

.myimg{
    position: relative; left: -5%; top:50%;
    width: 50px; height: 50px;
    margin-left: 2%;
}
    .myimg:hover{
        opacity: 0.75;
    }

.mynav{
    background-color: transparent;
    padding: 0.5% 0.5%;
    position: relative; top: 3vh;
}
    .lnk{
        position: relative; left: 65%;
        margin-left: 5%;
        color: white;
        text-decoration: none;
        font-size: 110%;
        font-family: GothBlack;
    }
    .lnk:hover{
        text-decoration: underline;
    }

.div3{
    position: absolute; left: 40%; bottom: 5%; 
    width: 35%; height: 60%;
}
.myimg2{
    position: relative; left: 10%; bottom: 10%;
    width: 100%; height: 118%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.tooltip{
    position: relative; left: 1%; 
    width: 50px; height: 50px;
    margin-left: 2%;
    background-color: transparent;
    display: inline-block;
}
    .tooltiptext{
        position: absolute; bottom:50%; left: 45%;
        background-image: radial-gradient(rgb(16,16,16), black);
        color: white;
        width: 120px;
        margin-left: -60px;
        border-radius: 8px;
        padding: 2px 2px;
        font-family: GothThin;
        visibility: hidden;
        text-align: center;
    }
    .tooltip:hover .tooltiptext{
        visibility: visible;
    }



