@import url('http://fonts.cdnfonts.com/css/gotham');

.logo {
    position: absolute;
    top: 4.50%;
    left: 5%;
    height: 10%;
    width: 10%;
}

.home {
    list-style-type: none;
    margin:  0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 4%;
    right: 7.50%;
}

li {
    float: right;
    font-family: 'Gotham Light', sans-serif;	        
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    color: #1d1d26;
    font-size: 22px;    
}

li a:hover {
    text-decoration: underline;   
    text-underline-offset: 5px;
    text-shadow: 3px 3px 70px #001333;
    font-size: 24px;
    text-align: center;
    color: #001333;
}

body {
    background-color: #fee2ca;    
}

.menu-icon {
    position: absolute;
    right: 3.50%;
    top: 5.70%;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
}

.menu-icon:hover {
    transform: scale(1.20)
}

.board {
    font-family: "Gotham Light", sans-serif;
    font-size: 45px;
    text-align: center;
    color: #1d1d26;
    padding: 16px;    
    text-shadow: 4px 4px 6px #ff2300; 
}

.tile-div {
    width: 40%;
    margin-top: 7.50%;
    margin-left: 2%;
}

.text-div {
    width: 40%;
    margin-bottom: 0em;
    margin-left: 3.50%;
}

.leaderboard-tile {
    font-size: 72px;
    font-family: "Gotham Bold", sans-serif;
    font-weight: 900;
    color: #001333;
    margin-top: 7.50%;
    margin-left: 5%;
    margin-bottom: -0.17em;     
}

.leaderboard-text {
    font-size: 21px;
    font-family: "Gotham Light", sans-serif;
    font-weight: 900;
    color: #001333;
    margin-left: 1%;
    margin-bottom: 0em;
    text-align: justify;   
}

.celebrate-pic {
    width: 88vh;
    margin-top: 2.40%;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    background-color: #001333;
    height: 79vh;  
    width: 45%;    
    color: #ccc;
    float: right;
    position: absolute;
    top: 15%;
    right: 1.50%;
    font-size: 32px;
    font-family: "Gotham Light", sans-serif;
    border-radius: 16px;
    border-width: 3px;
    border-style: solid;
    border-color: #001333;
    padding: 4px;
    overflow: hidden;
}

.container:hover {
    overflow-y: scroll;
    cursor: pointer;
}

.league-logo {    
    padding-top: 20px; 
    height: 11%;
    width: 11%;    
}

.logo-div {
    text-align: center;    
}

.card {
    margin: 50px 25px 50px 25px;
    border-radius: 64px;
    padding: 13px;
    font-size: 30px;
    background-color: #fee2ca;
    font-family: 'Gotham Light', sans-serif;  
    display: flex;
    justify-content: space-between;    
}

.card-text {
    margin: 5px 10px 5px 10px;
    color: #001333;
}

.board-heading {
    font-size: 30px;
    color: #fee2ca;
    font-family: 'Gotham Black', sans-serif;    
    padding: 12px;
    margin: 5%;   
    display: flex;
    justify-content: space-between; 
}

.board-heading-text { 
    color: #fee2ca;  
}

.board-heading-text:hover {
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 5px;
    text-decoration-color: #fee2ca;
}

html {
    overflow-y: scroll;
}