@import url('http://fonts.cdnfonts.com/css/gotham');

:root {
    --navyblue: #001333;
    --lightblue: #eff3ff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
}

.site {
    position: absolute;
    left: 5%;
    top: 4.50%;
    height: 30px;
    width: 150px;
    font-size: 30px;    
    font-family: "Gotham Black", sans-serif;
    color: var(--navyblue);
    cursor: default; 
}

.home-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 47%;   
    top: 4%; 
}

.home-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logout-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 53%;
    top: 4%;
}

.logout-img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%;
    top: 4%;
}

li {
    float: left;
    font-family: 'Gotham Light', sans-serif;
}

li a {
    display:  block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.toggle {
    font-size: 16px;
    font-family: "Gotham Light", sans-serif;
    background-color: var(--lightblue);
    color: var(--navyblue);
    border: 2px var(--navyblue) solid;
    border-radius: 15px;
    padding: 4px 12px;
    position: absolute;
    top: 5%;
    left: 75%;
}

.toggle:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
}

body {
    background-color: var(--lightblue);
    cursor: default;  
}

.tile-div {
    width: 40%;
    margin-top: 2.50%;
    margin-left: 2%;
}

.text-div {
    width: 40%;
    margin-bottom: 0em;
    margin-left: 3.50%;
    cursor: default; 
}

.leaderboard-tile {
    font-size: 72px;
    font-family: "Gotham Bold", sans-serif;
    font-weight: 900;
    color: var(--navyblue);
    margin-top: 6%;
    margin-left: 5%;
    margin-bottom: 0em;   
    cursor: default;  
}

.leaderboard-text {
    font-size: 23px;
    font-family: "Gotham Light", sans-serif;
    font-weight: 900;
    color: var(--navyblue);
    margin-left: 1%;
    margin-bottom: 0em;
    text-align: justify;   
    cursor: default;
}

.celebrate-pic {
    width: 38%;
    margin-left: 6%;
    margin-top: -0.25%;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    background-color: var(--navyblue);
    height: 80vh;  
    width: 45%;    
    float: right;
    position: absolute;
    top: 15%;
    right: 1.50%;
    font-size: 32px;
    font-family: "Gotham Light", sans-serif;
    border-radius: 16px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--navyblue);
    padding: 4px;
    overflow: hidden;
}

.container:hover {
    overflow-y: scroll;
}

.league-logo {        
    margin-top: 0.5%;
    width: 25%;    
}

.logo-div {
    text-align: center; 
}

.league-name {
    color: var(--navyblue);
    text-align: center;
    font-size: 22px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    bottom: 26%;
    position: relative;
    font-family: "Gotham Black", sans-serif;
}

.card {
    margin: 50px 25px 50px 25px;
    border-radius: 16px;
    padding: 13px;
    font-size: 30px;
    background-color: var(--lightblue);
    font-family: 'Gotham Light', sans-serif; 
    position: relative;
    bottom: 10%; 
    display: flex;
    justify-content: space-between;    
}

.card-text {
    margin: 5px 10px 5px 10px;
    color: var(--navyblue);
    cursor: default;
}

.board-heading {
    font-size: 30px;
    color: var(--lightblue);
    font-family: 'Gotham Black', sans-serif;    
    padding: 12px;
    margin: 0 5% 5% 5%;   
    position: relative;
    bottom: 10%;
    display: flex;
    justify-content: space-between; 
}

.board-heading-text { 
    color: var(--lightblue);  
}

html {
    overflow-y: scroll;
}
