@import url('http://fonts.cdnfonts.com/css/gotham');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
}

.site {
    position: absolute;
    left: 5%;
    top: 4.50%;
    height: 30px;
    width: 150px;
    font-size: 30px;    
    font-family: "Gotham Black", sans-serif;
    color: #001333;
    cursor: default; 
}

.home-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 47%;   
    top: 4%; 
}

.home-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logout-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.about-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 53%;
    top: 4%;
}

.logout-img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%;
    top: 4%;
}

li {
    float: left;
    font-family: 'Gotham Light', sans-serif;
}

li a {
    display:  block;
    color: white;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    font-size: 24px;
}

body {
    background-color: #eff3ff;
    cursor: default;  
}

.tile-div {
    width: 40%;
    margin-top: 2.50%;
    margin-left: 2%;
}

.text-div {
    width: 40%;
    margin-bottom: 0em;
    margin-left: 3.50%;
    cursor: default; 
}

.leaderboard-tile {
    font-size: 72px;
    font-family: "Gotham Bold", sans-serif;
    font-weight: 900;
    color: #001333;
    margin-top: 6%;
    margin-left: 5%;
    margin-bottom: 0em;   
    cursor: default;  
}

.leaderboard-text {
    font-size: 23px;
    font-family: "Gotham Light", sans-serif;
    font-weight: 900;
    color: #001333;
    margin-left: 1%;
    margin-bottom: 0em;
    text-align: justify;   
    cursor: default;
}

.celebrate-pic {
    width: 88vh;
    margin-top: 2.40%;
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    background-color: #001333;
    height: 79vh;  
    width: 45%;    
    float: right;
    position: absolute;
    top: 15%;
    right: 1.50%;
    font-size: 32px;
    font-family: "Gotham Light", sans-serif;
    border-radius: 16px;
    border-width: 3px;
    border-style: solid;
    border-color: #001333;
    padding: 4px;
    overflow: hidden;
}

.container:hover {
    overflow-y: scroll;
}

.league-logo {        
    margin-top: 15px;
    height: 17.50%;
    width: 17.50%;    
}

.logo-div {
    text-align: center;    
}

.card {
    margin: 50px 25px 50px 25px;
    border-radius: 16px;
    padding: 13px;
    font-size: 30px;
    background-color: #eff3ff;
    font-family: 'Gotham Light', sans-serif;  
    display: flex;
    justify-content: space-between;    
}

.card-text {
    margin: 5px 10px 5px 10px;
    color: #001333;
    cursor: default;
}

.board-heading {
    font-size: 30px;
    color: #eff3ff;
    font-family: 'Gotham Black', sans-serif;    
    padding: 12px;
    margin: 2% 5% 5% 5%;   
    display: flex;
    justify-content: space-between; 
}

.board-heading-text { 
    color: #eff3ff;  
}

html {
    overflow-y: scroll;
}
