@import url('http://fonts.cdnfonts.com/css/gotham');

:root {
    --navyblue: #001333;
    --lightblue: #eff3ff;
    --greyblue: #CBD2E1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
}

.site {
    position: absolute;
    left: 5%;
    top: 4.50%;
    height: 30px;
    width: 150px;
    font-size: 30px;    
    font-family: "Gotham Black", sans-serif;
    color: var(--navyblue);
}

.home-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 47%;   
    top: 4%; 
}

.home-img:hover {
    transform: scale(1.1);
}

.about-img:hover {
    transform: scale(1.1);
}

.logout-img:hover {
    transform: scale(1.1);
}

.about-img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 53%;
    top: 4%;
}

.logout-img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5%;
    top: 4%;
}

li {
    float: left;
    font-family: 'Gotham Light', sans-serif;
}

li a {
    display:  block;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.toggle {
    font-size: 16px;
    font-family: "Gotham Light", sans-serif;
    background-color: var(--lightblue);
    color: var(--navyblue);
    border: 2px var(--navyblue) solid;
    border-radius: 15px;
    padding: 4px 12px;
    position: absolute;
    top: 5%;
    left: 75%;
}

.toggle:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 2px;
}

body {
    background: var(--lightblue); 
    cursor: default;      
}

.practice-pic {
    width: 77vh;
    margin-left: 2%;
    margin-top: 12%;
    float: right;  
}

::-webkit-scrollbar {
    width: 0;
}

.container {
    background-color: var(--navyblue);
    height: 78vh;          
    margin-left: 1%;
    margin-top: 4%;      
    border-radius: 16px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--navyblue);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 4px;
}

.card {
    margin: 50px 25px 50px 25px;
    border-radius: 16px;
    position: relative;
    top: 5vh;
    padding: 13px;
    background-color: var(--lightblue);  
    display: none; 
}

.card1 {
    margin: 50px 25px 50px 25px;
    border-radius: 16px;
    position: relative;
    top: 5vh;
    padding: 13px;
    background-color: var(--lightblue); 
    display: block;   
}

.card2 {
    margin: 50px 25px 50px 25px;
    border-radius: 16px;
    position: relative;
    top: 5vh;
    padding: 13px;
    background-color: var(--lightblue); 
    display: block; 
}

.card-text {
    margin: 5px 10px 5px 10px;
    color: var(--navyblue);
    text-align: center;
    font-family: 'Gotham Light', sans-serif;
    font-size: 30px; 
}

.link {
    font-size: 22px;
    font-family: "Gotham Light", sans-serif;
    color: var(--navyblue);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}

.head-text {    
    position: absolute;
    right: 15.50%;
    margin-top: 3%;
    font-size: 28px;
    padding: 8px;
    border-radius: 16px;
    background-color: #F1884D;
    font-family: "Gotham Black", sans-serif;
    font-weight: 100;
}

html {
    overflow-y: scroll;
}

.dropbtn {
    background-color: var(--lightblue);
    color: var(--navyblue);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    border-radius: 16px;
    font-family: "Gotham Light", sans-serif;
  }
  
.dropbtn:hover, .dropbtn:focus {
background-color: var(--greyblue); 
text-decoration: underline;
text-underline-offset: 3px;

}

.dropdown {
position: relative;
float: right;
margin-right: 3%;
margin-top: 1.75%;
}

.dropdown-content {
display: none;
position: absolute;
background-color: var(--lightblue);
min-width: 160px;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
right: 0;
z-index: 1;
border-radius: 16px;
}

.dropdown-content button {
color: var(--navyblue);
padding: 12px 16px;
text-decoration: none;
display: block;
border-bottom: 2px var(--navyblue) groove;
width: 100%;
background-color: var(--lightblue);
border-top: none;
border-left: none;
border-right: none;
font-family: "Gotham Light", sans-serif;
}

.dropdown-content button:last-child {
color: var(--navyblue);
padding: 12px 16px;
text-decoration: none;
display: block;
border-bottom: none;
}

.dropdown button:hover {
    background-color: var(--greyblue);
    cursor: pointer;
}

.show {
    display: block;
}

