<!doctype html>

<html>

<head>

	<title> About Us </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
	<link href = "/static/css/about.css" rel = "stylesheet" type = "text/css">
	<script src = "/static/js/about.js"> </script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body onload="ModeFunction()">

	<div>
		<img src = "/static/img/about_pg_images/about_bg.svg" alt = "About Page" class = "full-pg" id = "full-pg-change">	
		<h1 class = "team"> Meet The Team </h1>
	</div>

	<ul>
		<li  class = "site"> CodeZone  </li>
		<li> <a href = "/dashboard"> <img src = "/static/img/Home.svg" alt = "Home" class = "home-img" id = "home-change"> </a> </li>
		<li> <a href = "/about"> <img src = "/static/img/About.svg" alt = "About" class = "about-img" id = "about-change"> </a> </li>
		<li> <a href = "/"> <img src = "/static/img/Logout.svg" alt = "Sign Out" class = "logout-img" id = "logout-change"> </a> </li>
		<button id = "mode" class = "toggle" onclick="toggle_function()"> Light </button>
	</ul>

	<div class = "grid-container">

		<div class = "grid-item"> 

			<h4> Shiraz Mangat </h4> 
			<img src = "/static/img/about_pg_images/Shiraz_Mangat.JPG" alt = "Shiraz Mangat" class = "my-pic">
			<p> Front-End , Graphs </p>

			<div class = "profiles">
				<span> <a href = "https://github.com/shiraz-30" target = "_blank"> <img src = "/static/img/about_pg_images/GitHub_light.svg" class = "git" id = "git-change"> </a> </span>
				<span> <a href = "https://www.linkedin.com/in/shiraz-mangat-33b4ba220" target = "_blank"> <img src = "/static/img/about_pg_images/LinkedIn_light.svg" class = "linkin" id = "linkin-change"> </a> </span>
			</div>

		</div>

		<div class = "grid-item">

			<h4> Sanil Gupta</h4> 
			<img src = "/static/img/about_pg_images/Sanil_Gupta.JPG" alt = "Sanil Gupta" class = "my-pic">
			<p> Back-End , DBMS </p>

			<div class = "profiles">
				<span> <a href = "https://github.com/notSanil" target = "_blank"> <img src = "/static/img/about_pg_images/GitHub_light.svg" class = "git" id = "git-change-1"> </a> </span>
				<span> <a href = "https://www.linkedin.com/in/sanil-gupta-2871621b9/" target = "_blank"> <img src = "/static/img/about_pg_images/LinkedIn_light.svg" class = "linkin" id = "linkin-change-1"> </a> </span>
			</div>

		</div>

		<div class = "grid-item">

			<h4> Abhinav Rawal</h4> 
			<img src = "/static/img/about_pg_images/Abhinav_Rawal.jpg" alt = "Abhinav Rawal" class = "my-pic">
			<p> UI-UX  , ADA </p>

			<div class = "profiles">
				<span> <a href = "https://github.com/rawalabhinav" target = "_blank"> <img src = "/static/img/about_pg_images/GitHub_light.svg" class = "git" id = "git-change-2"> </a> </span>
				<span> <a href = "https://www.linkedin.com/in/abhinav-rawal-81184a202/" target = "_blank"> <img src = "/static/img/about_pg_images/LinkedIn_light.svg" class = "linkin" id = "linkin-change-2"> </a> </span>
			</div>

		</div>

	</div>

	<div class = "grid-container-a">

		<div class = "grid-item">

			<h4> Uttam Mittal </h4> 
			<img src = "/static/img/about_pg_images/Uttam_Mittal.jpg" alt = "Uttam Mittal" class = "my-pic">
			<p> ML, Graphs </p>

			<div class = "profiles">
				<span> <a href = "https://github.com/uttammittal02" target = "_blank"> <img src = "/static/img/about_pg_images/GitHub_light.svg" class = "git" id = "git-change-3"> </a> </span>
				<span> <a href = "https://www.linkedin.com/in/uttam-mittal-31aa09221/" target = "_blank"> <img src = "/static/img/about_pg_images/LinkedIn_light.svg" class = "linkin" id = "linkin-change-3"> </a> </span>
			</div>

		</div>

		<div class = "grid-item"> 

			<h4> Shaurya Singh </h4> 
			<img src = "/static/img/about_pg_images/Shaurya_Singh.JPG" alt = "Shaurya Singh" class = "my-pic">
			<p> Front-End , Linking</p>

			<div class = "profiles">
				<span> <a href = "https://github.com/Shaurya-3003" target = "_blank"> <img src = "/static/img/about_pg_images/GitHub_light.svg" class = "git" id = "git-change-4"> </a> </span>
				<span> <a href = "https://www.linkedin.com/in/shaurya-singh-27a700202" target = "_blank"> <img src = "/static/img/about_pg_images/LinkedIn_light.svg" class = "linkin" id = "linkin-change-4"> </a> </span>
			</div>

		</div>

	</div>

	<div> 
		<h2 class = "story"> Our Story </h2>
	</div>

	<div>
		<p class = "story-1">
			The motivation for CodeZone came when the creators of the
			website were facing a common problem. All of them knew
			about the resources to learn programming, but were 
			perplexed as to how to proceed.
		</p>

		<p class = "story-2">
			No place provided a comprehensive path to achieve mastery,
			hence they set out to build a single platform, where you
			could learn no matter your skill level, so that no one 
			would have to face this problem again.
		</p>

	</div>

	<div>

		<a href = "https://github.com/notSanil/CodeZone" target = "_blank" > <img src = "/static/img/about_pg_images/Repo_light.svg" alt = "Repo" class = "repo" id = "repo-change"> </a>

	</div>

	<footer> &copy CodeZone </footer>

</body>

</html>

