<!doctype html>

<html>

<head>
	<title> About Us </title>
	<link href="http://fonts.cdnfonts.com/css/gotham" rel= "stylesheet" >
	<link rel = "stylesheet" href = "/static/css/about.css" type = "text/css">
</head>

<body>

	<div>
		<img src = "/static/img/about_pg_images/about_bg.svg" alt = "About Page" class = "full-pg">
	</div>
	<div>
		<a href = "https://github.com/notSanil/CodeZone"> <img src = "/static/img/about_pg_images/repo_link.svg" alt = "Repo" class = "repo"> </a>
	</div>
	<div>
		<ul>
			<li> <a href = "about_pg.html"> About </a> </li>
			<li> <a href = "index.html"> Home </a> </li>

		</ul>
	</div>
	
</body>

</html>

