<!DOCTYPE html>
<html>

    <head>
        <title> Compete Zone </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <link rel = "stylesheet" href = "/static/css/compete.css" type = "text/css">
        <script src = "/static/js/compete.js"> </script>
    </head>

    <body>

        <ul>
            <li  class = "site"> CodeZone  </li>
            <li> <a href = "/dashboard"> <img src = "/static/img/Home.svg" alt = "Home" class = "home-img" id = "home-change"> </a> </li>
            <li> <a href = "/about"> <img src = "/static/img/About.svg" alt = "About" class = "about-img" id = "about-change"> </a> </li>
            <li> <a href = "/logout"> <img src = "/static/img/Logout.svg" alt = "Sign Out" class = "logout-img" id = "logout-change"> </a> </li>
            <button id = 'mode' class = "toggle" onclick = "toggle_function()"> Light </button>
        </ul>

        <div class = "compete-div">
            <p class = "compete-header"> Compete Zone </p>
            <p class = "compete-text-1"> Yay! You've entered the Compete Zone ! </p>
            <p class = "compete-text-2"> <br> Solve questions accurately as recommended by our state of the art system which takes into account your current skill level. </p>
            <img src = "/static/img/compete_pg_images/Compete.svg" alt = "Compete Bars" class = "compete-pic">
        </div>

        <div>
            <p class = "stats"> Stats </p>
        </div>
        
        <div class = "stat-container"> 
            <div class = "stat-answer"> 
                <div class = "stat-text"> 19 </div>
                <div class = "stat-text"> Platinum </div>
                <div class = "stat-text"> 10000</div>                   
            </div>
            <div class = "stat-heading">
                <div class = "stat-heading-text"> Level </div>
                <div class = "stat-heading-text"> League </div>
                <div class = "stat-heading-text"> XP </div>
        </div>

        <div class = "go-container">
            <div class = "go-text-header"> Let's Go ! </div>
            <div class = "go-text-1"> You're currently 4000 XP away from entering the next league. </div>
            <div class = "go-text-2"> Head over to our recommended problems which are meant only for you. </div>
        </div>

        <div class = "container">

        {%for name, link in data%}
            <div class = "card">
                <div class = "card-text"> {{name}} <a href = "https://codeforces.com/problemset/problem/{{link}}" class = "link"> </a> </div>
            </div>
        {%endfor%}
        </div>
    
    </body>
    
</html>
