<!DOCTYPE html>
<html>

    <head>
        <title> Compete Zone </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <link rel = "stylesheet" href = "/static/css/compete.css" type = "text/css">
    </head>

    <body>

        <div>

            <nav class = "home">
    
                <li> <a href = "/logout"> Sign Out </a> </li>
                <li> <a href = "/dashboard"> Dashboard </a> </li>
    
            </nav>
    
            <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" target = "_blank"> <img src = "/static/img/menu_icon.svg" alt = "Menu Icon" class = "menu-icon"> </a>
        </div>
    
        <div>

            <a href = "/dashboard"> <img src = "/static/img/logo_dark.svg" alt = "CodeZone logo" class = "logo"> </a>
    
        </div>
        
        <div class = "container"> 
    
            <div class = "compete_text"> Compete Zone </div>
            
            <div>
            {%for problem, link in data%}
                <a href="https://codeforces.com/problemset/problem/{{link}}" style="text-decoration: none" target = "_blank">
                    <p>{{problem}}</p>
                </a>
            {%endfor%}
            </div>
    
        </div> 
    
    </body>
    
</html>
