<!doctype html>
<html>

<head>
	<title> 404 Error Found </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
	<link rel = "stylesheet" href = "/static/css/error.css" type = "text/css">
</head>

<body>

	<div>
		<img src = "/static/img/error_pg_images/error_bg.svg" alt = "Error Page" class = "full-pg">
	</div>
	<div>
		<a href = "/">  <button class = "btn"> Return Home </button> </a>
	</div>

</body>

</html>
