<!DOCTYPE html>

<html>

<head>

    <title> Your Handle </title>
    <link href = "http://fonts.cdnfonts.com/css/gotham" rel = "stylesheet">
    <link href = "get_handle.css" rel = "stylesheet" type = "text/css">  
    <script src = "/static/js/get_handle.js"> </script>
</head>

<body onload = "ModeFunction()">

<img src = "/static/img/handle.svg" alt = "Get Handle" class = "handle">
<li class = "site"> CodeZone </li>
<button id = "mode" class = "toggle" onclick="toggle_function()"> Light </button>

<form method = "post" action = "/submit" enctype = "multipart/form-data">

    <div class = "form-details">

        <h1 class = "heading"> Almost There ! </h1>

        <input type = "text" id = "id" name = "id" value = "{{id}}" hidden>
        <label for = "handle" class = "entry"> Handle </label> <br>
        <input type = "text" id = "handle" name = "handle" class = "input-box" placeholder = "Your CF Handle" required> <br>
        <label for = "name" class = "entry"> Name </label> <br>
        <input type = "text" id = "name" name = "name" class = "input-box" required value = "{{name}}" required> <br>
        <label for = "email" class = "entry"> Email </label> <br>
        <input type = "text" id = "email" name = "email" class = "email-box" required value = "{{email}}" readonly> <br>
        <button class = "btn-style"> <span> Submit </span> </button>
        
    </div>

</form>

</body>

</html>
