<!DOCTYPE html>
<html>
<head>
<title>LandingPage</title>
<link rel="stylesheet" href="static\css\index.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name = "description" content = "CodeZone serves as a platform which eases the path for our fellow coders, by providing a dedicated roadmap for progression via our recommendation system along with our gamified learning environment, which provides a zeal to move forward." />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="static\js\index.js"></script>
</head>
<body onload="ModeFunction()">
    <nav class="mynav"></nav>
        <span class="CZ"> CodeZone </span>
        <input type="button" value="Light" onclick="MyFunction()" class="modebtn" id='mode'>
        <a href="/about"><button class="abtbtn"></button></a>
    </nav>
    <div class="div1">
        <h1> Code your heart out</h1>
        <p> <b>A complete platform to code hassle free. With our fresh analytics, trending problems and unique zones for practice and competing, you'll never feel bored or exhausted.</b></p>
    </div>
    
    <div class="div2">
        <a href="/signin"><button class="btn"> Sign-Up</button></a>
        <a href="/signin"><button class="btn"> Login </button></a>
    </div>

    <div class="div3" id='div3'>
        
    </div>
</body>        
</html>