<!DOCTYPE html>
<html>
<head>     
<title> HomePage</title>
<link rel="stylesheet" href="/static/css/index.css">
<script src="/static/js/index.js"></script>
</head>

<body>
    <div>
        <p class="myfont"><b> CODE YOUR <br> HEART OUT</b></p>
        <button class="button1"> Compete </button>
        <button class="button1"> Practice </button>
    </div>

    <div>
        <button class="button2 tooltip"> <img src="/static/img/Home_Progress.png" width=50px height=50px border-radius=50% ><span class="tooltiptext"> Leaderboard </span></button>
        <button class="button2 tooltip"> <img src="/static/img/Home_Graph.png" width=50px height=50px border-radius=50%><span class="tooltiptext"> Progress </span></button>
    </div>

    <div>
        <button class="button3"> Home</button>
        <a href="/templates/LandingPage.html"><button class="button3"> Sign In</button></a>
        <button class="button3"> About</button>
        <button class="button4" onclick="myFunction()"> </button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#"> Link 1</a>
            <a href="#"> Link 2</a>
            <a href="#"> Link 3</a>
        </div>
    </div>
</body>
</html>