<!DOCTYPE html>
<html>
    <head>
        <title>LandingPage</title>
        <link rel="stylesheet" href="/static/css/LandingPage.css">
        <script src="static/js/LandingPage.js"></script>
    </head>

<body>
    <nav class="mynav">
        <a href="/templates/LandingPage.html"><button class="stdiconbtn tooltip"><span class="tooltiptext"> Home </span></button></a>
        <input type="text" placeholder="Search" class="srchbar">
        <button class="btn1"> Search </button>
        <a href='/templates/index.html'><button class="btn2"> Log-Out </button></a>
        <a href='#'><button class="btn2"> Contests </button></a>
        <a href='#'><button class="btn2"> About </button></a>
        <a href='#'><button class="profilebtn tooltip"><span class="tooltiptext"> You </span></button></a>
    </nav>
</body>    
</html>