<!DOCTYPE html>
<html>
    <head>

        <title> Leaderboard </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <link href = "/static/css/leaderboard.css" rel = "stylesheet" type = "text/css">
        <script src = "/static/js/leaderboard.js"> </script>
    </head>
    
    
<body>

    <ul>
        <li  class = "site"> CodeZone  </li>
        <li> <a href = "/dashboard"> <img src = "/static/img/Home.svg" alt = "Home" class = "home-img" id = "home-change"> </a> </li>
        <li> <a href = "/about"> <img src = "/static/img/About.svg" alt = "About" class = "about-img" id = "about-change"> </a> </li>
        <li> <a href = "/logout"> <img src = "/static/img/Logout.svg" alt = "Sign Out" class = "logout-img" id = "logout-change"> </a> </li>
        <button id = "mode" class = "toggle" onclick="toggle_function()"> Light </button>
    </ul>
    
    <div class = "tile-div"> 
        <p  class = "leaderboard-tile"> Leaderboard </p>
    </div>
    <div class = "text-div"> 
        <p  class = "leaderboard-text"> Our league-based leaderboard provides a comprehensive outlook on performance. With the distribution of leagues and XP-points, one can minutely monitor their progress. </p>
    </div>
    <div>
        <img src = "/static/img/leaderboard_images/Win.svg" alt = "Celebrate Leaderboard Rankings" class = "celebrate-pic">
    </div>

    <div class = "container">

        <div class = "logo-div"> 
            <img src = "/static/img/leaderboard_images/badge_light.svg" class = "league-logo" id = "badge-change">
        </div>

        <p class = "league-name"> Platinum </p>
        
        <div class = "board-heading"> 
            <div class = "board-heading-text"> Rank </div>
            <div class = "board-heading-text"> Name </div>
            <div class = "board-heading-text"> Level </div>                   
        </div>

        {%for name in data%}
        <div class = "card">
            <div class = "card-text"> 1 </div> 
            <div class = "card-text"> {{name}} </div>
            <div class = "card-text"> 3 </div>
        </div>
        {%endfor%} 

    </div>
    <!-- <div class = "container"> 
       
        <div class = "logo-div"> <img src = "/static/img/test_league_logo.webp" class = "league-logo"></div>

        <div class = "board-heading"> 
            <div class = "board-heading-text"> Rank </div>
            <div class = "board-heading-text"> Name </div>
            <div class = "board-heading-text"> Level </div>        
            
        </div>
             
        {%for name in data%}
        <div class = "card">
            <div> 1 </div> 
            <div> {{name}} </div>
            <div> Level </div>
        </div>
        {%endfor%}    

    </div> -->   
    

</body>

</html>


