<!DOCTYPE html>
<html>

    <head>
        <title> Practice Zone </title>
        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <link rel = "stylesheet" href = "/static/css/practice.css" type = "text/css">
        <script src = "/static/js/practice.js"> </script>
    </head>

    <body>

        <ul>
            <li  class = "site"> CodeZone  </li>
            <li> <a href = "/dashboard"> <img src = "/static/img/Home.svg" alt = "Home" class = "home-img"> </a> </li>
            <li> <a href = "/about"> <img src = "/static/img/About.svg" alt = "About" class = "about-img"> </a> </li>
            <li> <a href = "/logout"> <img src = "/static/img/Logout.svg" alt = "Sign Out" class = "logout-img"> </a> </li>
        </ul>

        <div>
            <img src = "/static/img/practice_pg_images/Practice.svg" alt = "Practice Illustration" class = "practice-pic">
        </div>

        <div class = "head-text"> Practice Zone </div>

        <div class = "container">

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"> Difficulty </button>
                <div id="myDropdown" class="dropdown-content">
                    <button value = "Easy" id = "easybtn" onclick="myFunction1()"> Easy </button>
                    <button value = "Medium" id = "midbtn" onclick="myFunction2()"> Medium </button>
                    <button value = "Hard" id = "hardbtn" onclick="myFunction3()"> Hard </button>
                    <button value = "Insane" id = "insanebtn" onclick="myFunction4()"> Insane </button>
                </div>
              </div>
            
            {% for data in easytbl %}
                <div class = "card1" id = "easytbl">
                    <div class = "card-text"> <a href = "#" class = "link" target = "_blank"> {{data[3]}} {{data[4]}}</a> </div>                 
                </div>
            {% endfor %}

            {% for data in midtbl %}
                <div class = "card" id = "midtbl">
                    <div class = "card-text"> <a href = "#" class = "link" target = "_blank"> {{data[3]}} {{data[4]}}</a> </div>                 
                </div>
            {% endfor %}

            {% for data in hardtbl %}
                <div class = "card" id = "hardtbl">
                    <div class = "card-text"> <a href = "#" class = "link" target = "_blank"> {{data[3]}} {{data[4]}}</a> </div>                 
                </div>
            {% endfor %}

            {% for data in insanetbl %}
                <div class = "card" id = "insanetbl">
                    <div class = "card-text"> <a href = "#" class = "link" target = "_blank"> {{data[3]}} {{data[4]}}</a> </div>                 
                </div>
            {% endfor %}
            
                        
        </div>
        
        <!-- 
        <div class = "container"> 
    
            <div class = "practice_text"> Practice Zone </div>
            
            <div>
                <p> Problem 1</p>
                <p> Problem 2</p>
                <p> Problem 3</p>
                <p> Problem 4</p>
                <p> Problem 5</p>
                <p> Problem 6</p>
                <p> Problem 7</p>
                <p> Problem 8</p>
                <p> Problem 9</p>
                <p> Problem 10</p>
            </div>
    
        </div> 
        -->
        <script>
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }
            
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
        </script>
    
    
    </body>
    
</html>
