<!DOCTYPE html>
<html>

    <head>
        <title> Practice Zone </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <link rel = "stylesheet" href = "/static/css/practice.css" type = "text/css">
        <script src = "/static/js/practice.js"> </script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>

    <body onload = "myFunction1()">

        <ul>
            <li  class = "site"> CodeZone  </li>
            <li> <a href = "/dashboard"> <img src = "/static/img/Home.svg" alt = "Home" class = "home-img" id = "home-change"> </a> </li>
            <li> <a href = "/about"> <img src = "/static/img/About.svg" alt = "About" class = "about-img" id = "about-change"> </a> </li>
            <li> <a href = "/logout"> <img src = "/static/img/Logout.svg" alt = "Sign Out" class = "logout-img" id = "logout-change"> </a> </li>
            <button id = "mode" class = "toggle" onclick="toggle_function()"> Light </button>
        </ul>

        <div>
            <img src = "/static/img/practice_pg_images/Practice.svg" alt = "Practice Illustration" class = "practice-pic">
        </div>

        <div class = "head-text"> Practice Zone </div>

        <div class = "container">

            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn" id = "problvl"> Easy </button>
                <div id="myDropdown" class="dropdown-content">
                    <button value = "Easy" id = "easybtn" onclick="myFunction1()"> Easy </button>
                    <button value = "Medium" id = "midbtn" onclick="myFunction2()"> Medium </button>
                    <button value = "Hard" id = "hardbtn" onclick="myFunction3()"> Hard </button>
                    <button value = "Insane" id = "insanebtn" onclick="myFunction4()"> Insane </button>
                </div>
              </div>

            <div id = "easytbl">
            {% for data in easytbl %}
            <div class = "card1">  
                <div class = "card-text"> <a href = "https://codeforces.com/problemset/problem/{{data[0]}}/{{data[1]}}" class = "link" target = "_blank"> {{data[2]}} </a> </div>                 
            </div>
            {% endfor %}
            </div>

            <div id = "midtbl">
            {% for data in midtbl %}
            <div class = "card2">  
                <div class = "card-text"> <a href = "https://codeforces.com/problemset/problem/{{data[0]}}/{{data[1]}}" class = "link" target = "_blank"> {{data[2]}} </a> </div>                 
            </div>    
            {% endfor %}
            </div>

            <div id = "hardtbl">
            {% for data in hardtbl %}
            <div class = "card2"> 
                    <div class = "card-text"> <a href = "https://codeforces.com/problemset/problem/{{data[0]}}/{{data[1]}}" class = "link" target = "_blank"> {{data[2]}} </a> </div>                 
            </div>
            {% endfor %}
            </div>

            <div id = "insanetbl"> 
            {% for data in insanetbl %}
            <div class = "card2">
                <div class = "card-text"> <a href = "https://codeforces.com/problemset/problem/{{data[0]}}/{{data[1]}}" class = "link" target = "_blank"> {{data[2]}} </a> </div>                 
            </div>
            {% endfor %}
            </div>
            
                        
        </div>

    </body>
    
</html>
