<!DOCTYPE html>
<html>

    <head>
        <title> Practice Zone </title>
        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <link rel = "stylesheet" href = "/static/css/practice.css" type = "text/css">
    </head>

    <body>

        <div>
            <nav>
                <li> <a href = "index.html"> Home </a> </li>
    
            </nav>
        </div>
    
        <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ" target = "_blank"> <img src = "/static/img/menu_icon.svg" alt = "Menu Icon" class = "menu"> </a>
        <img src = "/static/img/logo_dark.svg" alt = "CodeZone logo" class = "logo">
        
        <div class = "container"> 
    
            <div class = "practice_text"> Practice Zone </div>
            
            <div> <p> Problem 1</p>
                  <p> Problem 2</p>
                  <p> Problem 3</p>
                  <p> Problem 4</p>
                  <p> Problem 5</p>
                  <p> Problem 6</p>
                  <p> Problem 7</p>
                  <p> Problem 8</p>
                  <p> Problem 9</p>
                  <p> Problem 10</p>
            </div>
    
        </div> 
        
    
    
    </body>
    
</html>
