<!DOCTYPE html>
<html>
<head>
<title> Profile Page</title>
<link rel="stylesheet" href='static/css/profilepage.css'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> 
    <nav class="mynav">
        <a class="navlogo" href="/dashboard"> <img src="static\img\dashboard_images\Logo.svg" class="logobtn"></a>
        <a href="/logout" class="lnk1"> Sign-Out </a>
        <a href="/dashboard" class="lnk1"> Dashboard </a>
        <a href="/profile" class="lnk1"> <img src="static\img\dashboard_images\Profile_Pic.png" alt="Profile" class="logobtn2"></a>
    </nav>
    <div class="infodiv">
        <img src="static\img\dashboard_images\Profile_Pic_2.png" class='stdimg'>
        <div class='tblinfo'>
            <div style="border-radius: 15px 0 0 0;"> <span style="position: relative; top: 20%"> <b>CodeForces ID</b></span> </div> 
            <div style="border-radius: 0 15px 0 0;"> <span style="position: relative; top: 20%"> <b>#</b></span> </div>
            <div> <span style="position: relative; top: 20%"> <b>Email ID</b></span> </div> 
            <div> <span style="position: relative; top: 20%"> <b>#</b></span> </div> 
            <div> <span style="position: relative; top: 20%"> <b>Current Level</b></span> </div> 
            <div> <span style="position: relative; top: 20%"> <b>#</b></span> </div> 
            <div style="border-radius:  0 0 0 15px;"> <span style="position: relative; top: 20%"> <b>Current XP</b></span> </div>  
            <div style="border-radius: 0 0 15px 0"> <span style="position: relative; top: 20%"> <b>#</b></span> </div> 
        </div>
    </div>
    <div class="graphdiv">
        <h1> Graph 1</h1>
    </div>
    <div class="graphdiv">
        <h1> Graph 2</h1>
    </div>    
    <div class="graphdiv">
        <h1> Graph 3</h1>
    </div> 
</body>
</html>